# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [67]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [68]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5433/module7_db")
engine.table_names()

/var/folders/hb/7kr4rl551slcwd0kdwhgg9040000gn/T/ipykernel_4789/3601692702.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Payments',
 'Sales',
 'Mortgage',
 'Customer',
 'merchant',
 'transaction',
 'merchant_category',
 'card_holder',
 'credit_card']

In [69]:
# Write function that locates outliers using standard deviation
"SELECT * FROM transaction"
pd.DataFrame(engine.execute("SELECT * FROM transaction"))
transaction = pd.DataFrame(engine.execute("SELECT * FROM transaction"))
print(transaction)

      transaction_id                date amount                 card  \
0                222 2018-01-01 21:35:10   6.22     3561954487988605
1               2045 2018-01-01 21:43:12   3.83     5135837688671496
2                395 2018-01-01 22:41:21   9.61      213193946980303
3               3309 2018-01-01 23:13:30  19.03     4263694062533017
4                567 2018-01-01 23:15:10   2.95        4498002758300
...              ...                 ...    ...                  ...
3495            1979 2018-12-31 01:24:15   4.84  4723783028106084756
3496            2342 2018-12-31 03:33:28   3.26  4165305432349489280
3497             948 2018-12-31 05:53:58  10.73     5361779664174555
3498            1168 2018-12-31 08:22:17  11.87     4188164051171486
3499            2476 2018-12-31 09:50:25  19.75  4723783028106084756

      merchant_id
0              69
1              85
2              82
3               5
4              64
...           ...
3495          106
3496           64
3497           19
3498           54
3499           16

[3500 rows x 5 columns]

In [70]:
transaction["transaction_id"] < 1000 #true and false

thousand_filter = transaction["transaction_id"] < 1000

transaction[thousand_filter]

,transaction_id,date,amount,card,merchant_id
0,222,2018-01-01 21:35:10,6.22,3561954487988605,69
2,395,2018-01-01 22:41:21,9.61,213193946980303,82
4,567,2018-01-01 23:15:10,2.95,4498002758300,64
9,432,2018-01-02 10:13:09,8.55,5175947111814778,70
15,99,2018-01-02 23:27:46,1031.0,501879657465,95
...,...,...,...,...,...
3483,194,2018-12-30 04:34:56,7.61,5175947111814778,70
3484,860,2018-12-30 10:36:22,1.5,6500236164848279,149
3485,505,2018-12-30 10:46:09,6.24,30078299053512,147
3491,198,2018-12-30 22:24:08,7.88,5570600642865857,60
3497,948,2018-12-31 05:53:58,10.73,5361779664174555,19

In [71]:
fraud = transaction["amount"] < 2
transaction[fraud]

,transaction_id,date,amount,card,merchant_id
6,2083,2018-01-02 02:06:21,1.46,4319653513507,93
20,533,2018-01-03 15:23:58,1.39,4962915017023706562,100
22,2120,2018-01-03 21:04:28,1.91,3561072557118696,108
40,2077,2018-01-05 07:19:27,1.36,344119623920892,30
44,2439,2018-01-06 02:16:41,1.33,4866761290278198714,127
...,...,...,...,...,...
3444,2251,2018-12-26 18:02:58,1.2,4834483169177062,65
3447,10,2018-12-26 19:55:23,1.45,3561072557118696,18
3460,1994,2018-12-27 18:46:57,1.7,344119623920892,55
3461,3481,2018-12-27 18:47:35,1.32,4681896441519,112
3484,860,2018-12-30 10:36:22,1.5,6500236164848279,149

In [72]:
fraud_counts = transaction[fraud].groupby('merchant_id')['amount'].count()
print(fraud_counts)

merchant_id
2      5
3      4
4      1
5      2
6      3
      ..
144    5
145    6
147    2
149    5
150    2
Name: amount, Length: 129, dtype: int64

In [73]:
# Find anomalous transactions for 3 random card holders
card_holders = transaction['card'].sample(n=3).tolist()
filtered_transactions = transaction[transaction['card'].isin(card_holders)]

for _, row in card_holder_stats.iterrows():
    mean = row['mean']
    std = row['std']
    anomalies = filtered_transactions[(filtered_transactions['card'] == card) & ((filtered_transactions['amount'] > mean + 3 * std) | (filtered_transactions['amount'] < mean - 3 * std))]
    anomalous_transactions = pd.concat([anomalous_transactions, anomalies])
for card in card_holders:
    print(f'Anomalous transactions for card {card}:')
    print(anomalous_transactions[anomalous_transactions['card'] == card])
    print('---------------------------------------------')

Anomalous transactions for card 3517111172421930:
Empty DataFrame
Columns: [id, date, amount, card, id_merchant, transaction_id, merchant_id]
Index: []
---------------------------------------------
Anomalous transactions for card 4319653513507:
Empty DataFrame
Columns: [id, date, amount, card, id_merchant, transaction_id, merchant_id]
Index: []
---------------------------------------------
Anomalous transactions for card 376027549341849:
Empty DataFrame
Columns: [id, date, amount, card, id_merchant, transaction_id, merchant_id]
Index: []
---------------------------------------------

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range

In [ ]:
# Find anomalous transactions for 3 random card holders