# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [5]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5433/module7_db")
engine.table_names()

/var/folders/hb/7kr4rl551slcwd0kdwhgg9040000gn/T/ipykernel_6305/3601692702.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Payments',
 'Sales',
 'Mortgage',
 'Customer',
 'merchant',
 'transaction',
 'merchant_category',
 'card_holder',
 'credit_card']

In [13]:
# Write function that locates outliers using standard deviation
"SELECT * FROM transaction"
pd.DataFrame(engine.execute("SELECT * FROM transaction"))
transaction = pd.DataFrame(engine.execute("SELECT * FROM transaction"))
print(transaction)

      transaction_id                date amount                 card  \
0                222 2018-01-01 21:35:10   6.22     3561954487988605
1               2045 2018-01-01 21:43:12   3.83     5135837688671496
2                395 2018-01-01 22:41:21   9.61      213193946980303
3               3309 2018-01-01 23:13:30  19.03     4263694062533017
4                567 2018-01-01 23:15:10   2.95        4498002758300
...              ...                 ...    ...                  ...
3495            1979 2018-12-31 01:24:15   4.84  4723783028106084756
3496            2342 2018-12-31 03:33:28   3.26  4165305432349489280
3497             948 2018-12-31 05:53:58  10.73     5361779664174555
3498            1168 2018-12-31 08:22:17  11.87     4188164051171486
3499            2476 2018-12-31 09:50:25  19.75  4723783028106084756

      merchant_id
0              69
1              85
2              82
3               5
4              64
...           ...
3495          106
3496           64
3497           19
3498           54
3499           16

[3500 rows x 5 columns]

In [17]:
# how do tofilter data in a dataframe
# SELECT data from data, iloc loc
transaction
# 1 select a column you wnt to filter
# df[col]
# transaction["transaction_id"]

# 2 create the condition that i am looking for
# transiaction ids that are less than 1000
transaction["transaction_id"] < 1000 #true and false

thousand_filter = transaction["transaction_id"] < 1000

# 3 take the filter and put it back into the df
# df[filter]
transaction[thousand_filter]

,transaction_id,date,amount,card,merchant_id
0,222,2018-01-01 21:35:10,6.22,3561954487988605,69
2,395,2018-01-01 22:41:21,9.61,213193946980303,82
4,567,2018-01-01 23:15:10,2.95,4498002758300,64
9,432,2018-01-02 10:13:09,8.55,5175947111814778,70
15,99,2018-01-02 23:27:46,1031.0,501879657465,95
...,...,...,...,...,...
3483,194,2018-12-30 04:34:56,7.61,5175947111814778,70
3484,860,2018-12-30 10:36:22,1.5,6500236164848279,149
3485,505,2018-12-30 10:46:09,6.24,30078299053512,147
3491,198,2018-12-30 22:24:08,7.88,5570600642865857,60
3497,948,2018-12-31 05:53:58,10.73,5361779664174555,19

In [ ]:
# Find anomalous transactions for 3 random card holders

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range

In [ ]:
# Find anomalous transactions for 3 random card holders